@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.container {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 480px) {
  .page-nav__list {
    display: none;
  }
  .open-buy-now-button {
    display: none;
  }
  .page-header {
    background-color: #84A278;
  }
  .page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
  }
  .open-mobile-menu-button {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
  }
  .open-mobile-menu-button__icon {
    width: 32px;
    height: 32px;
    fill: #FCFCFC;
  }
}
@media screen and (min-width: 768px) {
  .page-header__container {
    padding-top: 20px;
  }
  .open-mobile-menu-button {
    margin-left: auto;
  }
  .open-buy-now-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 42px;
    background-color: #F8D24E;
    border-radius: 10px;
    border-color: transparent;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #131313;
    margin-left: 32px;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  }
  .open-buy-now-button:hover {
    background-color: #0A8817;
  }
  .open-buy-now-button:focus {
    background-color: #0A8817;
    color: #FCFCFC;
  }
  .open-buy-now-button:disabled {
    background-color: #ABABAB;
  }
  .open-buy-now-button__icon {
    width: 12px;
    height: 12px;
    margin-left: 7px;
  }
}
@media screen and (min-width: 1200px) {
  .open-mobile-menu-button {
    display: none;
  }
  .page-header__container {
    padding-top: 8px;
  }
  .page-nav {
    display: flex;
  }
  .page-nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #FCFCFC;
    margin-left: 269px;
  }
  .page-nav__link {
    transition: color 250ms ease-in-out;
  }
  .page-nav__link:hover {
    color: #F8D24E;
  }
  .open-buy-now-button {
    margin: 0;
  }
}
.Products {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/ice-cream-bgi.jpg), url(../images/ice-coffee-bgi.jpg), url(../images/milkshakes-bgi.jpg);
  background-size: contain;
  width: 480px;
}
@media screen and (min-width: 768px) {
  .Products {
    background-image: url(../images/tablet-bgi.jpg);
    background-repeat: no-repeat;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .Products {
    background-image: url(../images/desktop-bgi.jpg);
    width: 1200px;
  }
}

.products__label {
  margin-bottom: 12px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .products__label {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products__label {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}

.products__title {
  margin-bottom: 148px;
  font-family: "Seymour One", san-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 200px;
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    margin-bottom: 300px;
    font-size: 36px;
    letter-spacing: 0.06em;
  }
}

.products__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 164px;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .products__list {
    flex-direction: unset;
    justify-content: space-evenly;
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 0;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
}

.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 123px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  width: 280px;
  height: 420px;
  background-color: #AEC6A5;
  border-radius: 24px;
}
.products__item:nth-child(2) {
  background-color: #EFD478;
}
.products__item:nth-child(3) {
  background-color: #D6936D;
}
@media screen and (min-width: 768px) {
  .products__item {
    justify-content: space-evenly;
    padding-top: 108px;
    padding-left: 26px;
    padding-right: 26px;
    width: 224px;
    height: 428px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    padding-top: 166px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 60px;
    width: 370px;
    height: 535px;
  }
}

.products__item::before {
  position: absolute;
  top: 0;
  transform: translateY(-110px);
  width: 201px;
  height: 211px;
  content: "";
}
@media screen and (min-width: 768px) {
  .products__item::before {
    display: inline-flex;
    width: 200px;
    transform: translateY(-120px);
  }
}
@media screen and (min-width: 1200px) {
  .products__item::before {
    width: 302px;
    height: 317px;
    transform: translateY(-180px);
  }
}

.products__item:nth-child(1)::before {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
}

.products__item:nth-child(2)::before {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
}

.products__item:nth-child(3)::before {
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
}

.products__item::after {
  position: absolute;
  top: 0;
  transform: translateY(-110px);
  width: 201px;
  height: 200px;
  content: "";
}
@media screen and (min-width: 768px) {
  .products__item::after {
    display: inline-flex;
    width: 200px;
    transform: translateY(-120px);
  }
}
@media screen and (min-width: 1200px) {
  .products__item::after {
    width: 302px;
    height: 300px;
    transform: translateY(-180px);
  }
}

.products__item:nth-child(1)::after {
  background-image: url(../images/ice-cream@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.products__item:nth-child(2)::after {
  background-image: url(../images/ice-coffee@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.products__item:nth-child(3)::after {
  background-image: url(../images/milkshakes@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.products__category {
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .products__category {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products__category {
    margin-bottom: 65px;
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}

.products__description {
  width: 200px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .products__description {
    width: 172px;
  }
}
@media screen and (min-width: 1200px) {
  .products__description {
    font-size: 16px;
    letter-spacing: 0.04em;
    width: 246px;
  }
}

.btn__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  border: transparent;
  background-color: transparent;
}

.arrow__stem {
  position: relative;
  width: 40px;
  height: 2px;
  background-color: #131313;
  transform: scaleX(100%);
  transition: transform 250ms ease-in-out, height 250ms ease-in-out;
}

.arrow__tip {
  position: absolute;
  top: -4px;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #131313;
  border-bottom: 2px solid #131313;
  border-radius: 0 2px 1px 2px;
  transform: rotate(-45deg);
  transition: border-right 250ms ease-in-out, border-bottom 250ms ease-in-out, width 250ms ease-in-out, height 250ms ease-in-out, top 250ms ease-in-out;
}

.btn__arrow:hover .arrow__stem {
  transform: scaleX(120%);
}

.btn__arrow:focus {
  border: inherit;
  outline: inherit;
}
.btn__arrow:focus .arrow__stem {
  transform: scaleX(120%);
  height: 3px;
}
.btn__arrow:focus .arrow__tip {
  border-right: 3px solid #131313;
  border-bottom: 3px solid #131313;
  width: 16px;
  height: 16px;
  top: -6px;
}

.about {
  background-color: #84A278;
}
.about__lable {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: #FCFCFC;
  padding-top: 60px;
}
.about__title {
  font-family: "Seymour One", san-serif;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  margin-bottom: 32px;
}
.about__list {
  font-size: 12px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  color: #FCFCFC;
}
.about__item:nth-child(1) {
  margin-bottom: 4px;
}
.about__button {
  width: 164px;
  height: 42px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  background-color: #F8D24E;
  color: #131313;
}
.about__button:hover {
  background-color: #0A8817;
}
.about__button:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}

.about__svg {
  color: #131313;
}

.about_arrow {
  fill: currentColor;
}

.about__picture {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 280px;
  position: relative;
  background-color: rgba(248, 210, 78, 0.7);
  border-radius: 50%;
  margin-bottom: 62px;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
}

.about__images {
  border-radius: 50%;
  border-color: #84A278;
  position: absolute;
  transform: translateY(22px);
}

@media screen and (max-width: 767px) {
  .about__item_hidden {
    display: none;
  }
}
.gallery {
  background-image: linear-gradient(to bottom, #84A178 18.46%, #F5F5F5 18.46%, #F5F5F5 100%);
}
@media screen and (min-width: 768px) {
  .gallery {
    background-image: linear-gradient(to bottom, #84A178 50%, transparent 50%, transparent 100%);
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    background-image: linear-gradient(to bottom, #84A178 22.27%, #F5F5F5 22.27%, #F5F5F5 23.22%, transparent 23.22%, transparent 100%);
  }
}

.gallery__img-box {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 7.40681px;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .gallery__img-box {
    width: 279px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__img-box {
    width: 704px;
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__img-box {
    width: 1013px;
    border-radius: 24px;
  }
}

.gallery__img {
  display: block;
  width: 100%;
}

.section-contacts {
  font-weight: 500;
  font-size: 12px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #131313;
  background-image: linear-gradient(to bottom, transparent 346px, #84A178 346px, #84A178 412px);
}

@media screen and (min-width: 768px) {
  .section-contacts {
    font-size: 14px;
    background-image: linear-gradient(to bottom, transparent 310px, #84A178 310px, #84A178 528px);
  }
}
.contacts__list {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    margin-bottom: 60px;
  }
}
.contacts__item {
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  padding: 40px 32px;
  border: 1px solid #E1E1E1;
  border-radius: 24px;
  background-color: #FCFCFC;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}
.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contacts__item {
    max-width: 224px;
    padding: 40px 24px;
    flex-basis: calc((100% - 32px) / 3);
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.contacts__item_name {
  max-width: 80px;
  text-align: center;
  margin-bottom: 20px;
  background: #F8D24E;
  border-radius: 4px;
}
.contacts__item_name-width {
  max-width: 130px;
}

@media screen and (min-width: 768px) {
  .contacts__item_name {
    max-width: 73px;
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 32px;
  }
  .contacts__item_name-width {
    max-width: 138px;
  }
}
.list__address_item:not(:last-child) {
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .list__address_item:not(:last-child) {
    margin-bottom: 32px;
    padding-bottom: 32px;
  }
}
.list__address_name {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .list__address_name {
    margin-bottom: 12px;
  }
}
.list__address_link {
  color: #D6936D;
}

.list__address_time {
  color: #ABABAB;
}
.list__address_time:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__button {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .contacts__button {
    flex-direction: row;
    -moz-column-gap: 16px;
         column-gap: 16px;
    justify-content: center;
    align-items: center;
  }
}
.button {
  font-family: Montserrat, SemiBold;
  font-weight: 600;
  display: flex;
  max-width: 196px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  border-color: transparent;
  align-items: center;
  align-self: center;
}

.contacts__button_yellow {
  background-color: #F8D24E;
  padding-left: 34px;
  padding-right: 34px;
}

.contacts__button_yellow:hover {
  background-color: #0A8817;
}

.contacts__button_yellow:focus {
  background-color: #0A8817;
  color: #FCFCFC;
  fill: #FCFCFC;
  outline: none;
}

.contacts__button_yellow:disabled {
  background-color: #ABABAB;
}

.contacts__button_green {
  padding-left: 46px;
  padding-right: 46px;
  border-color: #F8D24E;
  background-color: transparent;
  border: 2px solid #F8D24E;
}

.contacts__button_green:hover {
  border-color: #0A8817;
}

.contacts__button_green:focus {
  color: #FCFCFC;
  fill: #FCFCFC;
}

.contacts__button_green:disabled {
  background-color: #ABABAB;
}

.button__icon {
  margin-left: 6px;
}/*# sourceMappingURL=index.css.map */