$primary-font: "Montserrat", sans-serif;
$title-font: 'Seymour One', san-serif;
$primary-text-color: #FCFCFC;
$secondary-text-color: #131313;
$interactive-text-hover: #0A8817;
$interactive-text-focus: #FCFCFC;
$interactive-text-disabled: #ABABAB;
$primary-bgc-color: #84A278;
$secondary-bgc-color: #F5F5F5;
$acent-color: #F8D24E;
$btn-interactive-color: #0A8817;
$btn-disabled-color: #ABABAB;