<section class="section-contacts">
    <div class="container">
<h2 class="section__title visually-hidden">Contacts</h2>
<ul class="contacts__list list">
    <li class="contacts__item">
     <p class="contacts__item_name">CAFE</p> 
     <ul class="list__address list">
        <li class="list__address_item">
            <address>
            <p class="list__address_name">Chicago</p>
            <a class="list__address_link link" href="https://www.google.com.ua/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/@41.7034056,-87.7819292,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405?hl=ru">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
            </address>
        </li>
        <li class="list__address_item">
            <p class="list__address_day">Monday - Friday</p>
            <p class="list__address_time">06:00 AM - 10:00 PM</p>
            <p class="list__address_day">Saturday - Sunday</p>
            <p class="list__address_time">08:00 AM - 16:00 PM</p>
        </li>
        <li class="list__address_item">
            <address>
            <a class="link__address_contacts link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="link__address_contacts link" href="mailto:noreply@envato.com">noreply@envato.com</a>    
            </address>
        </li>
     </ul>  
    </li>
    <li class="contacts__item">
        <p class="contacts__item_name contacts__item_name-width">FOOD TRUCK</p>
        <ul class="list__address list">
            <li class="list__address_item">
                <address>
                <p class="list__address_name">Los Angeles</p>
                <a class="list__address_link link" href="https://www.google.com.ua/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/@33.8835307,-118.4125173,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286?hl=ru">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                </address>
            </li>
            <li class="list__address_item">
                <p class="list__address_day">Monday - Friday</p>
                <p class="list__address_time">06:00 AM - 10:00 PM</p>
                <p class="list__address_day">Saturday - Sunday</p>
                <p class="list__address_time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="list__address_item">
                <address>
                <a class="link__address_contacts link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="link__address_contacts link" href="mailto:noreply@envato.com">noreply@envato.com</a>    
                </address>
            </li>
         </ul>
    </li>
    <li class="contacts__item">
        <p class="contacts__item_name">CAFE</p>
        <ul class="list__address list">
            <li class="list__address_item">
                <address>
                <p class="list__address_name">New York</p>
                <a class="list__address_link link" href="https://www.google.com.ua/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/@40.6726978,-73.9569227,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734?hl=ru">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                </address>
            </li>
            <li class="list__address_item">
                <p class="list__address_day">Monday - Friday</p>
                <p class="list__address_time">06:00 AM - 10:00 PM</p>
                <p class="list__address_day">Saturday - Sunday</p>
                <p class="list__address_time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="list__address_item">
                <address>
                <a class="link__address_contacts link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="link__address_contacts link" href="mailto:noreply@envato.com">noreply@envato.com</a>    
                </address>
            </li>
         </ul>
    </li>
</ul>
<ul class="contacts__button">
    <button class="button contacts__button_yellow" type="button">Our Locations
        <svg class="button__icon" width="12px" height="12px">
            <use href="/src/images/sprite.svg#icon-more-sign"></use>
        </svg>
    </button>
    <button class="button contacts__button_green" type="button">Franchise
        <svg class="button__icon" width="12px" height="12px">
            <use href="/src/images/sprite.svg#icon-more-sign"></use>
        </svg>
    </button>
</ul>
</div>
</section>