<section class="customer-reviews">
    <div class="container">
        <h2 class="customer-reviews__title visually-hidden">Customer Reviews</h2>
        
        <ul class="customer-reviews__list list">
            <li class="customer-reviews__item">
                <img src="../images/customer-reviews-image1.jpg" alt="" class="customer-reviews__img">
                <p class="customer-reviews__comment">I love visiting your cafe. You prepare the most gdelicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                <p class="customer-reviews__name">Emily, Los Angeles</p>
            </li>
            <li class="customer-reviews__item">
                <img src="../images/customer-reviews-image2.jpg" alt="" class="customer-reviews__img">
                <p class="customer-reviews__comment">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!</p>
                <p class="customer-reviews__name">Bryan, New-York</p>
            </li>
            <li class="customer-reviews__item">
                <img src="../images/customer-reviews-image3.jpg" alt="" class="customer-reviews__img">
                <p class="customer-reviews__comment">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!</p>
                <p class="customer-reviews__name">Diana, Chicago</p>
            </li>
        </ul>

        <ul class="customer-reviews__list-dots list">
            <li class="customer-reviews__item-dot link"><a href="" class="customer-reviews__dot"></a></li>
            <li class="customer-reviews__item-dot link"><a href="" class="customer-reviews__dot"></a></li>
            <li class="customer-reviews__item-dot link"><a href="" class="customer-reviews__dot"></a></li>
        </ul>
    </div>
</section>