   <section class="customer-reviews" id="reviews">
    <div class="container">
        <h2 class="customer-reviews__title visually-hidden">Customer Reviews</h2>

        <div class="customer-reviews__list owl-carousel">
            <div> <img src="./images/customer-reviews-image1.jpg" alt="" class="customer-reviews__img">
                <div class="customer-reviews__comment-div">
                    <p class="customer-reviews__comment">I love visiting your cafe. You prepare the most gdelicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                </div>
                <p class="customer-reviews__name">Emily, Los Angeles</p> </div>
            <div> <img src="./images/customer-reviews-image2.jpg" alt="" class="customer-reviews__img">
                <div class="customer-reviews__comment-div">
                    <p class="customer-reviews__comment">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!</p>
                </div>
                <p class="customer-reviews__name">Bryan, New-York</p> </div>
            <div> <img src="./images/customer-reviews-image3.jpg" alt="" class="customer-reviews__img">
                <div class="customer-reviews__comment-div">
                    <p class="customer-reviews__comment">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!</p>
                </div>
                <p class="customer-reviews__name">Diana, Chicago</p> </div>
        </div>
    </div>
</section> 
