<footer class="footer">
    <div class="container">
        <div class="footer__title_wrapper">
            <p class="footer__title-labl">homemade ice cream made</p>
            <p class="footer__title">with passion</p>
        </div>
        <div class="social-list_wrapper">
            <ul class="social-list list">
                <li class="social-list__item">
                    <a class="social-list__link link" href="https://github.com" target="_blank"
                        rel="noopener noreferrer nofollow">
                        <svg class="social-list__icon icon" width="20" height="20">
                            <use href="./images/sprite.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link link" href="https://telegram.org" target="_blank"
                        rel="noopener noreferrer nofollow">
                        <svg class="social-list__icon icon" width="20" height="16">
                            <use href="./images/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link link" href="https://www.facebook.com" target="_blank"
                        rel="noopener noreferrer nofollow">
                        <svg class="social-list__icon icon" width="10" height="20">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="contact-tel__disc">Feel free to contact <a class="contact-tel link" href="tel:+610383766284">+61
                    (0) 383 766 284</a></p>
        </div>
    </div>
    <p class="copyright">&copy; 2022 - IceCream. All Rights Reserved.</p>
</footer>