<section class="section gallery" id="gallery">
    <div class="container gallery__container">
        <div class="gallery__img-box" >
            <picture>
                <source media="(min-width: 1200px)" srcset="./images/ice-crem1-decktop.jpg 1x, ./images/ice-crem1-decktop@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="./images/ice-crem1-tablet.jpg 1x, ./images/ice-crem1-tablet@2x.jpg 2x">
                <source media="(min-width: 480px)" srcset="./images/ice-crem1-mobile.jpg 1x, ./images/ice-crem1-mobile@2x.jpg 2x">
                <img src="./images/ice-crem1-mobile.jpg" alt="ice-crem" class="gallery__img">
            </picture>
        </div>
</section>