<header class="page-header">
  <div class="page-header__container container">
    <nav class="page-nav">
      <a href="#" class="logo link"><picture>
      <source
        srcset="./images/logo-tablet.webp 1x, ./images/logo-tablet@2x.webp 2x"
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="./images/logo-tablet.png 1x, ./images/logo-tablet@2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/logo-mobile.webp 1x, ./images/logo-mobile@2x.webp 2x"
        media="(max-width: 767px)"
        type="image/webp"
      />
      <source
        srcset="./images/logo-mobile.png 1x, ./images/logo-mobile@2x.png 2x"
        media="(max-width: 767px)"
      />
      <img src="./images/logo-mobile.png" alt="logo" />
    </picture></a>
      <ul class="page-nav__list list">
        <li class="page-nav__item">
          <a class="page-nav__link link" href="#index.html">Home</a>
        </li>
        <li class="page-nav__item">
          <a class="page-nav__link link" href="#how-made">How it's made?</a>
        </li>
        <li class="page-nav__item">
          <a class="page-nav__link link" href="#products">Our products</a>
        </li>
        <li class="page-nav__item">
          <a class="page-nav__link link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="open-mobile-menu-button js-open-menu">
      <svg aria-label="menu button" class="open-mobile-menu-button__icon" width="32" height="32">
        <use href="./images/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <button type="button" class="open-buy-now-button open-buy-now-button--page-header" data-modal-buy-open>Buy now <svg aria-label="buynow button" class="open-buy-now-button__icon" width="32" height="32">
        <use href="./images/sprite.svg#icon-more-sign"></use>
      </svg></button>
  </div>

</header>
