<section class="hero">
    <div class="container position">
        <div class="inside-container">
            <div>
                <h1 class="hero__title">ice cream made with <span class="hero__title--size">passion</span></h1>
                <ul class="hero__menu-btn list">
                    <li class="hero__menu-btn-item">
                        <a href="#products" class="hero__btn-border link">Products</a>
                    </li>
                    <li class="hero__menu-btn-item">
                        <a href="#how-made" class="hero__btn link">How it’s made?</a>
                    </li>
                </ul>
            </div>

            <ul class="hero__menu-cafes list">
                <li class="hero__menu-cafes-item">
                    <p class="hero__menu-cafes-number">16</p>
                    <p class="hero__menu-cafes-type">cafes</p>
                </li>
                <li class="hero__menu-cafes-item">
                    <p class="hero__menu-cafes-number">23</p>
                    <p class="hero__menu-cafes-type">food trucks</p>
                </li>
            </ul>
        </div>

        <div class="hero__ice-cream-about">
            <img src="./images/tablet-plate-ice-cream.png" alt="" class="hero__ice-cream-about-img">
            <p class="hero__ice-cream-about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et</p>
        </div>

        <!-- <picture>
            <source
                srcset="./images/desktop/dots.svg"
                media="(min-width: 1200px)"
            >

            <source
                srcset="./images/tablet/dots.svg"
                media="(min-width: 768px)"
            >

            <source
                srcset="./images/phone/dots.svg"
                media="(max-width: 767px)"
            >

             <img src="./images/phone/dots.svg" alt="dots" class="hero__dots-img">
        </picture> -->

        <picture>
            <source srcset="./images/desktop-ice-cream.png 1x, ./images/desktop-ice-cream@2x.png 2x"
                media="(min-width: 1200px)">

            <source srcset="./images/tablet-ice-cream.png 1x, ./images/tablet-ice-cream@2x.png 2x"
                media="(min-width: 768px)">

            <source srcset="./images/phone-ice-cream.png 1x, ./images/phone-ice-cream@2x.png 2x"
                media="(max-width: 767px)">

            <img src="./images/phone-ice-cream.png" alt="ice-cream" class="hero__ice-cream-img">
        </picture>
    </div>
</section>