<div class="backdrop is-hidden" data-modal-video>
  <div class="modal-made">
    <button type="button" class="modal-close" data-modal-video-close>
      <svg
        aria-label="modal close button"
        class="modal-menu__close-btn-icon"
        width="20"
        height="20"
      >
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-title">How it’s made?</p>

    <iframe
      class="video"
      src="https://www.youtube.com/embed/j0_fVzTJO-8"
      title="Little Baby's Ice Cream -- Love Lickers"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <p class="video-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nam
      doloribus, mollitia quo odio saepe dolorum possimus accusantium officia,
      sequi, libero veniam. Vel odio, inventore ea vitae at quam nemo.
    </p>
  </div>
</div>
