<!-- Buy Modal -->
<div class="backdrop is-hidden" data-modal-buy>
  <div class="modal-buy">
    <button type="button" class="modal-close__buy-now" data-modal-buy-close>X</button>
    <p class="modal-buy-now-title">Buy now</p>
    <div class="modal-choise">
      <label for="choice" class="check-ice">
        <input type="checkbox" name="choice-products" class="input-products" value="ice-cream">
        <span class="choice__item-ice-cream">ice cream</span>
      </label>
      <label for="choice" class="check-ice">
        <input type="checkbox" name="choice-products" class="input-products" value="ice-coffee" checked>
        <span class="choice__item-ice-coffee">ice coffee</span>
      </label>
      <label for="choice" class="check-ice">
        <input type="checkbox" name="choice-products" class="input-products" value="milkshake">
        <span class="choice__item-milkshake">milkshake</span>
      </label>
    </div>
    <form class="buy-form">
      <input type="text" class="form-input__buy" name="user-name" pattern="[a-zA-Zа-яА-ЯІіЇї]+" placeholder="Name"
        required />
      <input type="tel" class="form-input__buy" name="user-tel" pattern="[0-9]+" minlength="10" placeholder="Phone"
        required />
      <div>
        <textarea name="user-comment" id="user-comment" class="modal-comment__buy" placeholder="Comment"></textarea>
      </div>
      <button type="submit" class="submit-btn-buy" [disabled]="!ngForm.valid">
        Submit
      </button>
    </form>
  </div>
</div>
</div>
</div>