<!-- Buy Modal -->

<div class="backdrop" data-modal-buy>
  <div class="modal-buy">
    <button type="button" class="modal-close-btn" data-modal-buy-close>
      X
    </button>
    <p class="modal-title">Buy now</p>
    <div class="modal-choise">
      <div class="input-field">
        <ul class="modal-buy__menu list">
          <li class="modal-buy__menu-item">
            <input
              type="checkbox"
              name="choice-ice"
              class="input-check visually-hidden"
              value="true"
              id="choice-ice"
            />
            <label for="choice-ice" class="check-ice">
              <span class="v-buy__menu-text">ice cream</span>
            </label>
          </li>
          <li class="modal-buy__menu-item">
            <input
              type="checkbox"
              name="choice-cofee"
              class="input-check visually-hidden"
              id="choice-coffee"
            />
            <label for="choice-coffee" class="check-coffee">
              <span class="q-buy__menu-text">ice coffee</span>
            </label>
          </li>
          <li class="modal-buy__menu-item">
            <input
              type="checkbox"
              name="choice"
              class="input-check visually-hidden"
              id="choice-milk"
            />
            <label for="choice-milk" class="check-milk">
              <span class="c-buy__menu-text t">milkshake</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <form class="buy-form">
      <input
        type="text"
        class="buy-form__form-input"
        name="user-name"
        placeholder="Name"
        required
      />
      <input
        type="tel"
        class="buy-form__form-input"
        name="user-tel"
        minlength="10"
        placeholder="Phone"
        required
      />
      <div>
        <textarea
          name="user-comment"
          id="user-comment"
          class="buy-form__modal-comment"
          placeholder="Comment"
        ></textarea>
      </div>
      <button type="submit" class="submit-btn-buy">Submit</button>
    </form>
  </div>
</div>
