<section class="Products">
  <div class="container">
    <b class="products__label">100% natural</b>
    <h2 class="products__title">Products</h2>

    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__category">Ice cream</h3>
        <p class="products__p">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="btn_arrow" type="button">
          <div class="arrow_stem">
            <div class="arrow_tip"></div>
          </div>
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__category">Ice coffee</h3>
        <p class="products__p">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="btn_arrow" type="button">
          <div class="arrow_stem">
            <div class="arrow_tip"></div>
          </div>
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__category">Milkshakes</h3>
        <p class="products__p">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="btn_arrow" type="button">
          <div class="arrow">
            <div class="arrow_stem"><div class="arrow_tip"></div></div>
          </div>
        </button>
      </li>
    </ul>
  </div>
</section>
