.backdrop {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(134, 134, 125, 0.664);
}

.modal-locate {
  position: absolute;
  width: 280px;
  min-height: 310px;
  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px;

  @media screen and (min-width: 768px) {
    width: 568px;
    min-height: 370px;
    padding: 32px 60px;
  }
}

.modal-close-location {
  position: absolute;
  right: 16px;
  top: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: transparent;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-map {
  width: 225px;
  height: 200px;
  border-radius: 10px;

  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    width: 448px;
    height: 260px;
  }

}

.modal-button {
  width: 134px;
  height: 42px;
  background: #f8d24e;
  border: transparent;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #131313;
}
.modal-button--location {
  width: auto;
  padding: 12px 34px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.075px;
}


@media screen and (min-width: 768px) {

  .modal-locate {
    width: 568px;
    min-height: 370px;
    padding: 30px 60px;
  }

  .modal-map {
    width: 448px;
    height: 260px;
    margin-bottom: 32px;
  }
  .modal-button--location {
    font-size: 14px;
    line-height: 1.214;
  }
}
