.social-list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 38px;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 40px;
    }
}

.social-list .social-list__item+.social-list__item {
    margin-left: 27px;
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 34px;
    height: 34px;
    border-radius: 50%;
    color: $primary-bgc-color;
    background-color: $acent-color;

    transform: scale(0.95);
                transition: color $func-and-dur, background-color $func-and-dur, fill $func-and-dur, border-color $func-and-dur, transform $func-and-dur;


    &:hover {
        color: #ffffff;

        @media screen and (min-width: 768px) {
            transform: scale(0.95);
        }
    }

    &:focus {
        color: #ffffff;

        @media screen and (min-width: 768px) {
            transform: scale(1.05);
        }
    }

    @media screen and (min-width: 768px) {
        transform: scale(1);
    }
}