.section-contacts {
    font-weight: 500;
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 40px;
    color: $secondary-text-color;
    background-image: linear-gradient(
        to bottom,
        transparent 350px,
        #84A178 350px,
        #84A178 412px
        );
}
@media screen and (min-width: 768px) {
    .section-contacts {
        font-size: 14px;
        background-image: linear-gradient(
            to bottom,
            transparent 312px,
            #84A178 312px,
            #84A178 528px
        );
    }
}
@media screen and (min-width: 1200px) {
    .section-contacts {
        font-size: 16px;
        padding-bottom: 120px;
        background-image: linear-gradient(
            to bottom,
            transparent 96px,
            #84A178 96px,
            #84A178 538px
        );
    }
}
.contacts__list {
    margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
    .contacts__list {
        display: flex;
        flex-wrap: nowrap;
        gap: 16px;
        margin-bottom: 60px;
    }
}
@media screen and (min-width: 1200px) {
    .contacts__list {
        gap: 32px;
        margin-bottom: 64px;
    }
}
.contacts__item {
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
    padding: 40px 32px;
    border: 1px solid #E1E1E1;
    border-radius: 24px;
    background-color: $interactive-text-focus;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 768px) {
    .contacts__item {
        max-width: 224px;
        padding: 40px 24px;
        flex-basis: calc((100% - 32px) / 3);

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
}
@media screen and (min-width: 1200px) {
    .contacts__item {
        max-width: 368px;
        padding: 40px 40px;
        flex-basis: calc((100% - 64px) / 3);

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
}
.contacts__item_name {
    max-width: 80px;
    text-align: center;
    margin-bottom: 20px;
    background: $acent-color;
    border-radius: 6px; 

    &-width {
        max-width: 130px;
    }
}
@media screen and (min-width: 768px) {
    .contacts__item_name {
        max-width: 73px;
        font-size: 16px;
        line-height: 1.9;
        margin-bottom: 32px;

        &-width {
            max-width: 138px;
        }
    }
}
.list__address_item:not(:last-child) {
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 24px;
    padding-bottom: 24px;

}
@media screen and (min-width: 768px) {
    .list__address_item:not(:last-child) {
        margin-bottom: 32px;
        padding-bottom: 32px;
    }
}
.list__address_name {
    margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
    .list__address_name {
        margin-bottom: 12px;
    }
}
@media screen and (min-width: 1200px) {
    .list__address_name {
        margin-bottom: 8px;
    }
}
.list__address_link {
    color: #D6936D;
}
.list__address_time {
    color: $interactive-text-disabled;

    &:not(:last-child) {
    margin-bottom: 8px;
    }
}
@media screen and (min-width: 768px) {
    .list__address_time:not(:last-child) {
        margin-bottom: 12px;
    }
}

.contacts__button {
    display: flex;
    row-gap: 16px;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .contacts__button {
        flex-direction: row;
        column-gap: 16px;
        justify-content: center;
        align-items: center;
    }
}
.button {
    font-family: Montserrat, SemiBold;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    min-width: 196px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    border-color: transparent;
    align-items: center;
    align-self: center;
    justify-content: center;

}
.contacts__button_yellow {
    background-color: $acent-color;
}
.contacts__button_yellow:hover {
    background-color: $interactive-text-hover;
}
.contacts__button_yellow:focus {
    background-color: $interactive-text-hover;
    color: $interactive-text-focus;
    fill: $interactive-text-focus;
    outline: none; 
}
.contacts__button_yellow:disabled {
    background-color: $interactive-text-disabled;
}
.contacts__button_green {
    border-color: $acent-color;
    background-color: transparent;
    border: 2px solid #F8D24E;
}
.contacts__button_green:hover {
    border-color: $interactive-text-hover;
} 
.contacts__button_green:focus {
    color: $interactive-text-focus;
    fill: $interactive-text-focus;
    border-color: $btn-interactive-color;
    outline: none;
}
.contacts__button_green:disabled {
    background-color: $interactive-text-disabled;
}
.button__icon {
    margin-left: 6px;
}