.footer {
    background-color: $primary-bgc-color;

    &>.container {
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
}

.footer__title_wrapper {
    max-width: 250px;
    margin-bottom: 42px;

    @media screen and (min-width: 768px) {
        max-width: 350px;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 550px;
        margin-bottom: 54px;
    }
}

.footer__title-labl {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: $primary-text-color;

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.23;
    }

    @media screen and (min-width: 1200px) {
        font-size: 30px;
    }
}

.footer__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.20;
    text-transform: uppercase;
    color: $primary-text-color;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.23;
    }

    @media screen and (min-width: 1200px) {
        font-size: 58px;
    }
}

.social-list_wrapper {
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        margin-bottom: 56px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 60px;
    }
}

.contact-tel__disc {
    text-align: end;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.83;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.86;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.87;
    }
}

.contact-tel {
    color: $primary-text-color;
}
.copyright_wrapper{
    display: block;
    border-top: 1px solid #E1E1E1;
}
.copyright {
    margin-right: auto;
    margin-left: auto;
    padding-top: 16px;
    padding-bottom: 62px;
    max-width: 160px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: $copyright-color;

    @media screen and (min-width: 768px) {
        max-width: 100%;
        padding-top: 14px;
        padding-bottom: 13px;
        line-height: 1.86;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 12px;
        padding-bottom: 11px;
        font-size: 12px;
        line-height: 1.83;
    }
}