/* my styles */

/* body {
  margin: 0;
}

@media screen and (max-width:767px) {
  .mobile-menu {
    display: none;
  }

  .page-nav__list {
    display: none;
  }

  .open-buy-now-button {
    display: none;
  }

  .page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    background-color: rgb(132, 161, 120);
  }

  .open-mobile-menu-button {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
  }

  .open-mobile-menu-button__icon {
    width: 32px;
    height: 32px;
    fill: #FCFCFC;
  }
} */

/* Mobile menu */

@media screen and (max-width:767px) {
    .mobile-menu {
        position: absolute;
        width: 100%;
        transform: translateX(101%);
        background-color: rgb(132, 161, 120);
    }


    .mobile-menu__container {
        position: relative;
        height: 100%;
        padding-top: 12px;
        padding-bottom: 63px;
    }

    .mobile-menu__close-btn {
        position: absolute;
        top: 16px;
        right: 20px;
        line-height: none;
        padding: 0;
        background-color: transparent;
        border: none;
    }

    .mobile-menu__close-btn-icon {
        width: 32px;
        height: 32px;
        fill: #FCFCFC;
    }

    .mobile-menu__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        margin-top: 51px;
        margin-bottom: 111px;
    }

    .mobile-menu__link {
        font-weight: 700;
        font-size: 32px;
        line-height: 1.22;
        color: #FCFCFC;
    }

    .mobile-menu__list:nth-child(2)>.mobile-menu__link {
        color: #131313;
    }

    .open-buy-now-button {
        display: block;
        width: 152px;
        height: 42px;
        background-color: #F8D24E;
        border-radius: 10px;
        border-color: transparent;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;
        color: #131313;
        margin-right: auto;
        margin-left: auto;
    }

    .open-buy-now-button:hover {
        background-color: #0A8817;
    }

    .open-buy-now-button:focus {
        background-color: #0A8817;
        color: #FCFCFC;
    }

    .open-buy-now-button:disabled {
        background-color: #ABABAB;
        ;
    }

}