.container {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;

    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}




.hero {
    background: #84A178;
    background-image: url(../images/phone-dots.svg);
    background-repeat: no-repeat;
    background-size: 480px;
    background-position: bottom;
    // max-width: 480px;


    // height: 502px;
}

.position {
    position: relative;
    height: 450px;
}

.hero__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.26;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FCFCFC;

    max-width: 247px;
    padding-top: 60px;
    margin-bottom: 32px;
}

.hero__title--size {
    font-size: 34px;
    line-height: 96.5%;
}

.hero__menu-btn {
    // font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    color: black;

    display: flex;
    gap: 8px;

    margin-bottom: 190px;
}

.hero__btn-border {
    width: 62px;
    height: 24px;
    background-color: transparent;
    border: 2px solid #F8D24E;
    border-radius: 8px;
    color: black;
}

.hero__btn {
    width: 83px;
    height: 24px;
    background-color: transparent;
    border: none;

    color: #F8D24E;
    text-decoration-line: underline;
}

.hero__dots-img {
    width: 100%;
}

.hero__ice-cream-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-55%);
    z-index: 10;

}




@media screen and (max-width: 767px) {

    .hero__ice-cream-about {
        display: none;
    }

    .hero__menu-cafes {
        display: none;
    }
}

@media screen and (min-width: 768px) {

    .hero {
        background-image: url(../images/tablet-dots.svg);
        background-size: 768px;
    }

    .position {
        height: 350px; //
    }

    .hero__title {
        font-size: 18px;
        line-height: 23px;

        max-width: 181px;
        padding-top: 40px;
        margin-bottom: 20px;
    }

    .hero__title--size {
        font-size: 24px;
        line-height: 13px;
    }

    .hero__menu-btn {
        margin-bottom: 28px;
        // margin-bottom: 125px;
    }

    .hero__ice-cream-about {
        display: flex;
        align-items: center;
        gap: 33px;

        position: absolute;
        bottom: 13;
        left: 32;
    }

    .hero__ice-cream-about-img {
        width: 152px;
    }

    .hero__ice-cream-about-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.42;
        color: #FCFCFC;

        width: 151px;
    }

    .hero__menu-cafes {
        margin-top: 28px;
    }

    .hero__menu-cafes-number {
        font-family: 'Montserrat';
        font-weight: 900;
        font-size: 28px;
        line-height: 34px;
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #131313;
    }

    .hero__menu-cafes-type {
        font-family: 'Montserrat';

        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        text-align: right;
        letter-spacing: 0.04em;

        color: #FCFCFC;
        margin-top: 4px;
    }

    .hero__menu-cafes-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .inside-container {
        display: flex;
        justify-content: space-between;
    }

    .hero__ice-cream-img {
        transform: translateX(-5%);
    }
}

@media screen and (min-width: 1200px) {

    .hero {
        background-image: url(../images/desktop-dots.svg);
        background-size: 1200px;
    }

    .position {
        height: 590px; //
    }

    .hero__title {
        font-weight: 400;
        font-size: 38px;
        line-height: 48px;
        letter-spacing: 0.04em;

        max-width: 367px;
        padding-top: 45px;
        margin-bottom: 28px;
    }

    .hero__title--size {
        font-weight: 400;
        font-size: 38px;
        line-height: 48px;
        letter-spacing: 0.04em;
    }

    .hero__menu-btn {
        font-size: 14px;
        line-height: 18px;
        gap: 12px;

        margin-bottom: 42px;
    }

    .hero__btn-border {
        width: 134px;
        height: 42px;
        border-radius: 10px;
    }

    .hero__btn {
        width: 154px;
        height: 40px;
    }

    .hero__ice-cream-about-img {
        width: 225px;
    }

    .hero__ice-cream-about {
        gap: 14px;

        bottom: 65;
        left: 17;
    }

    .hero__ice-cream-about-text {
        font-size: 14px;
        width: 200px;
    }

    .hero__menu-cafes {
        margin-top: 56px;
    }

    .hero__menu-cafes-number {
        font-size: 46px;
        line-height: 56px;
    }

    .hero__menu-cafes-type {
        font-size: 14px;
        line-height: 17px;
    }

    .hero__menu-cafes-item:not(:last-child) {
        margin-bottom: 16px;
    }

    .hero__ice-cream-img {
        transform: translateX(-10%);
        // height: 690px;
    }
}