.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 63px;
  overflow-y: scroll;
  opacity: 0;
visibility: hidden;
pointer-events: none;
  background-color: $primary-bgc-color;
  transform: translateX(100%);
      transition: transform $func-and-dur, opacity $func-and-dur, visibility $func-and-dur;


  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0%);
    transition: transform $func-and-dur, visibility$func-and-dur, opacity $func-and-dur;
  }
}

.mobile-menu__container {
  position: relative;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 12px;
  right: 24px;
  line-height: none;
  padding: 0;
  background-color: transparent;
  border: none;


}

.mobile-menu__close-btn-icon {
  
  fill: $interactive-text-focus;
}

.mobile-menu__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 51px;
  margin-bottom: 111px;
}

.mobile-menu__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  color: $primary-text-color;
  transition: color $func-and-dur;

  &:hover,
    &:focus {
       color: $secondary-text-color;
    }
}

.open-buy-now-button--mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 42px;
  background-color: $acent-color;
  border-radius: 10px;
  border-color: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: $secondary-text-color;
  transition: background-color $func-and-dur, color $func-and-dur;

  &:hover {
    background-color: $btn-interactive-color;
  }

  &:focus {
    background-color: $btn-interactive-color;
    color: $interactive-text-focus;
.open-buy-now-button__icon {
  fill: $interactive-text-focus;
}
  }

  &:disabled {
    background-color: $btn-disabled-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.open-buy-now-button--mobile-menu {
  margin-left: auto;
  margin-right: auto;
}

.open-buy-now-button__icon {
  width: 12px;
  height: 12px;
  margin-left: 7px;

}

@media screen and (min-width: 768px) {
  .mobile-menu {
    padding-top: 20px;
    
  }

  .mobile-menu__close-btn {
    top: 20px;
    right: 32px;
  }

  .mobile-menu__menu {
    gap: 40px;
    margin-top: 76px;
    margin-bottom: auto;
  }

  .mobile-menu__link {
    font-size: 48px;
    line-height: 1.23;

    
  }

  .burger {
    display: none;
  }
}
@media screen and (max-width: 767px) {
    .open-buy-now-button--page-header {
  display: none;
}
@media screen and(min-width: 768px) {
  open-buy-now-button--mobile-menu {
    display: none;
  }
}
}
