.backdrop {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(185, 185, 185, 0.699);
  overflow-y: scroll;
}

.modal-buy {
  position: absolute;
  // width: 280px;
  min-height: 300px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}

.modal-close-btn {
  //змінив клас
  position: absolute;
  right: 8px;
  top: 8px;
  background: transparent;
  border: none;
}

.modal-title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  margin-bottom: 20px;
}

.modal-choise {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 25px;
  margin-top: 80px;
}

.products-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
  width: 130px;
  height: 132px;
  border: 2px solid #96af8c;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15.7808px;
}

.modal-buy__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 84px;

  @media screen and(min-width:768px) {
    flex-direction: row;
    gap: 30px;
  }
}

.v-buy__menu-text {
  display: block;
  width: 132px;
  height: 136px;
  border: 2px solid #aec6a5;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 96px;
  pointer-events: none;
  background-color: transparent;
}

.q-buy__menu-text {
  display: block;
  width: 132px;
  height: 136px;
  border: 2px solid #efd478;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 96px;
  pointer-events: none;
  background-color: transparent;
}

.c-buy__menu-text {
  display: block;
  width: 132px;
  height: 136px;
  border: 2px solid #d6936d;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 96px;
  pointer-events: none;
  background-color: transparent;
}

.input-check:checked {
  & + .check-ice span {
    background-color: #aec6a5;
  }

  & + .check-coffee span {
    background-color: #efd478;
  }

  & + .check-milk span {
    background-color: #d6936d;
  }
}

.modal-buy__menu-item {
  position: relative;
  // border: 2px solid #96af8c;
  // border-radius: 16px;

  // &:nth-child(2) {
  //   border: 2px solid #efd478;
  // }

  // &:nth-child(3) {
  //   border: 2px solid #d6936d;
  // }
}

.check-ice::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-60px);
  width: 132px;
  height: 132px;
  content: '';

  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
}

.check-coffee::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-60px);
  width: 132px;
  height: 132px;
  content: '';
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  border-radius: 50%;
}

.check-milk::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-60px);
  width: 132px;
  height: 132px;
  content: '';
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.check-ice::after {
  position: absolute;
  top: 0;
  transform: translateY(-68px);
  width: 132px;
  height: 132px;
  content: '';

  background-image: url(../images/ice-cream@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.check-coffee::after {
  position: absolute;
  top: 0;
  transform: translateY(-68px);
  width: 132px;
  height: 132px;
  content: '';
  background-image: url(../images/ice-coffee@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.check-milk::after {
  position: absolute;
  top: 0;
  transform: translateY(-68px);
  width: 132px;
  height: 132px;
  content: '';
  background-image: url(../images/milkshakes@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.buy-form {
  text-align: center;
}

.buy-form__form-input {
  width: 224px;
  height: 33px;
  margin-bottom: 12px;
  padding-left: 12px;
  background-color: rgba(248, 210, 78, 0.1);

  border: 1px solid #84a178;
  border-radius: 10px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;

  color: #131313;
}

.buy-form__form-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(148, 86, 86, 0.322);
}

.buy-form__modal-comment {
  width: 224px;
  height: 65px;
  border: 1px solid #84a178;
  border-radius: 10px;
  resize: none;
  padding: 12px 10px;
  margin-bottom: 25px;
  background-color: rgba(248, 210, 78, 0.1);

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;

  color: #131313;
}

.submit-btn-buy {
  width: 114px;
  height: 42px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #131313;

  border: transparent;
  background: #f8d24e;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .modal-buy {
    width: 568px;
  }

  .modal-choise {
    flex-direction: row;
    justify-content: center;
  }

  .buy-form__form-input {
    width: 368px;
  }

  .buy-form__modal-comment {
    width: 368px;
  }

  .submit-btn-buy {
    width: 121px;
  }
}
