p {
  margin: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(134, 134, 125, 0.664);
}

.modal-made {
  position: absolute;
  width: 280px;
  height: 100%;
  overflow-y: scroll;
  min-height: 380px;
  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px;
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: transparent;
  @media screen and (min-width:768px) {
    right: 24px;
  top: 24px;
  }
}

.modal-title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  color: #131313;
  text-align: center;

  margin-bottom: 32px;
}

.modal-video {
  text-align: center;
  margin-bottom: 32px;
}

.video {
  width: 224px;
  height: 200px;
  border-radius: 10px;
}

.video-title {
  padding-left: 28px;
  padding-right: 28px;
}
.video__description {
line-height: 1.4;
letter-spacing: normal;
}

@media screen and (min-width: 768px) {
  .modal-made {
    width: 568px;
    min-height: 340px;
  }

  .video-title {
    padding-left: 60px;
    padding-right: 60px;
  }

  .video {
    width: 448px;
    border-radius: 10px;
  }
}
