.modal-franchise {
  position: absolute;
  width: 280px;
  height: 100%;
  min-height: 322px;
  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 28px;
  overflow-y: scroll;

  @media screen and (min-width: 768px) {
    padding: 60px;
    width: 568px;
    min-height: 386px;

  }
}

  .modal-menu__close-btn-icon {
    
    width: 16px;
    height: 16px;
    @media screen and (min-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }

.modal-close-franchise {
  position: absolute;
  right: 16px;
  top: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: transparent;
}

.franchise-title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  margin-bottom: 20px;
  color: #131313;
}

.franchise-item {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;

  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 30px;

  }
}

.franchise-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.franchise-input {
  width: 225px;
  height: 32px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0px 10px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #131313;
  @media screen and (min-width: 768px) {
    width: 370px;
  }
}

.franchise-input:not(:placeholder-shown):invalid {
  border-color: red;
  outline: none;
}
.franchise-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(148, 86, 86, 0.322);
}

.submit-btn-franchise {
  width: 114px;
  height: 42px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #131313;

  border: transparent;
  background: #f8d24e;
  border-radius: 10px;
  @media screen and (min-width: 768px) {
    width: 120px;
  }
}

.modal-text {
  display: block;
  margin-bottom: 4px;
}

.modal-comment-franchise {
  width: 225px;
  height: 65px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  resize: none;
  padding: 12px 10px;
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    width: 370px;
  }
}
