p {
  margin: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(134, 134, 125, 0.664);
}

.modal-made {
  position: absolute;
  width: 280px;
  min-height: 380px;
  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px;
  height: 100%;
    overflow-y: scroll;

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 449px;
    min-height: 340px;
    padding: 28px 60px;
  }
}

.modal-close-video {
  position: absolute;

  right: 16px;
  top: 8px;
  width: 16px;
  height: 16px;

  border: 1px solid transparent;
  border-radius: 50px;
  background-color: transparent;
  @media screen and (min-width:768px) {
    right: 24px;
  top: 24px;
  }
}

.modal-title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  color: #131313;
  text-align: center;

  margin-bottom: 32px;
}

.video {
  width: 220px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    width: 448px;
    border-radius: 10px;
  }
}


.video-description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;


  color: #131313;

  @media screen and(min-width: 768px) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */

    color: #131313;
  }
}
