
.products {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../images/ice-cream-bgi.jpg), url(../images/ice-coffee-bgi.jpg), url(../images/milkshakes-bgi.jpg);
    background-size: contain;
    

    @media screen and (min-width: 768px) {
        background-image: url(../images/tablet-bgi.jpg);
        background-repeat: no-repeat;
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        background-image: url(../images/desktop-bgi.jpg);
        width: 1200px;
    }
}

.products__label {
    margin-bottom: 12px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: $secondary-text-color;

    @media screen and(min-width: 768px) {
        font-size: 22px;
    }

    @media screen and(min-width: 1200px) {
        font-size: 30px;
        letter-spacing: 0.04em;
    }
}

.products__title {
    margin-bottom: 148px;
    font-family: $title-font;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $secondary-text-color;

    @media screen and(min-width: 768px) {
        margin-bottom: 200px;
        font-size: 34px;
    }

    @media screen and(min-width: 1200px) {
        margin-bottom: 300px;
        font-size: 36px;
        letter-spacing: 0.06em;
    }
}

.products__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 164px;
    list-style: none;

    @media screen and(min-width: 768px) {
        flex-direction: unset;
        justify-content: space-evenly;
        column-gap: 16px;
        row-gap: 0;
    }

    @media screen and(min-width: 1200px) {
        column-gap: 32px;
    }
}

.products__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 123px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    width: 280px;
    height: 420px;
    background-color: #AEC6A5;
    border-radius: 24px;

    &:nth-child(2) {
        background-color: #EFD478;
    }

    &:nth-child(3) {
        background-color: #D6936D;
    }

    @media screen and(min-width: 768px) {
        justify-content: space-evenly;
        padding-top: 108px;
        padding-left: 26px;
        padding-right: 26px;
        width: 224px;
        height: 428px;
    }

    @media screen and(min-width: 1200px) {
        padding-top: 166px;
        padding-left: 64px;
        padding-right: 64px;
        padding-bottom: 60px;
        width: 370px;
        height: 535px;
    }
}

.products__item::before {
    position: absolute;
    top: 0;
    transform: translateY(-110px);
    width: 201px;
    height: 211px;
    content: "";

    @media screen and(min-width: 768px) {
        display: inline-flex;
        width: 200px;
        transform: translateY(-120px);
    }

    @media screen and(min-width: 1200px) {
        width: 302px;
        height: 317px;
        transform: translateY(-180px);
    }
}

.products__item:nth-child(1)::before {
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    border-radius: 50%;
}

.products__item:nth-child(2)::before {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    border-radius: 50%;
}

.products__item:nth-child(3)::before {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    border-radius: 50%;
}

.products__item::after {
    position: absolute;
    top: 0;
    transform: translateY(-110px);
    width: 201px;
    height: 200px;
    content: "";

    @media screen and(min-width: 768px) {
        display: inline-flex;
        width: 200px;
        transform: translateY(-120px);
    }

    @media screen and(min-width: 1200px) {
        width: 302px;
        height: 300px;
        transform: translateY(-180px);
    }
}

.products__item:nth-child(1)::after {
    background-image: url(../images/ice-cream@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.products__item:nth-child(2)::after {
    background-image: url(../images/ice-coffee@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.products__item:nth-child(3)::after {
    background-image: url(../images/milkshakes@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.products__category {
    margin-bottom: 40px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $secondary-text-color;

    @media screen and(min-width: 768px) {
        font-size: 22px;
    }

    @media screen and(min-width: 1200px) {
        margin-bottom: 65px;
        font-size: 30px;
        letter-spacing: 0.04em;
    }
}

.products__description {
    // margin-bottom: 90px;
    width: 200px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.76;
    text-align: center;
    letter-spacing: 0.04em;
    // margin-top: 40px;
    color: $secondary-text-color;

    @media screen and(min-width: 768px) {
        // margin-bottom: 60px;
        width: 172px;
    }

    @media screen and(min-width: 1200px) {
        font-size: 16px;
        letter-spacing: 0.04em;
        width: 246px;
    }
}



.btn__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    margin-top: auto;
    border: transparent;
    background-color: transparent;
}

.arrow__stem {
    position: relative;

    width: 40px;
    height: 2px;
    background-color: $secondary-text-color;
    transform: scaleX(100%);
    transition: transform 250ms ease-in-out, height 250ms ease-in-out;
}

.arrow__tip {
    position: absolute;
    top: -4px;
    right: 0;
    width: 10px;
    height: 10px;
    border-right: 2px solid $secondary-text-color;
    border-bottom: 2px solid $secondary-text-color;
    border-radius: 0 2px 1px 2px;
    transform: rotate(-45deg);
    transition: border-right 250ms ease-in-out, border-bottom 250ms ease-in-out, width 250ms ease-in-out, height 250ms ease-in-out, top 250ms ease-in-out;
}


        // BUTTON ANIMATION style for bug fix


.btn__arrow:hover {
    .arrow__stem {
        transform: scaleX(120%);
    }
}

.btn__arrow:focus {
    border: inherit;
    outline: inherit;

    .arrow__stem {
        transform: scaleX(120%);
        height: 3px;
    }

    .arrow__tip {
        border-right: 3px solid $secondary-text-color;
        border-bottom: 3px solid $secondary-text-color;
        width: 16px;
        height: 16px;
        top: -6px;
    }
}