//   BUTTON 

.btn__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    border: transparent;
    background-color: transparent;
}

.arrow__stem {
    position: relative;

    width: 40px;
    height: 2px;
    background-color: $secondary-text-color;
    transform: scaleX(100%);
    transition: transform 250ms ease-in-out, height 250ms ease-in-out;
}

.arrow__tip {
    position: absolute;
    top: -4px;
    right: 0;
    width: 10px;
    height: 10px;
    border-right: 2px solid $secondary-text-color;
    border-bottom: 2px solid $secondary-text-color;
    border-radius: 0 2px 1px 2px;
    transform: rotate(-45deg);
    transition: border-right 250ms ease-in-out, border-bottom 250ms ease-in-out, width 250ms ease-in-out, height 250ms ease-in-out, top 250ms ease-in-out;
}

        // BUTTON ANIMATION

.btn__arrow:hover {
    .arrow__stem {
        transform: scaleX(120%);
    }
}

.btn__arrow:focus {
    border: inherit;
    outline: inherit;

    .arrow__stem {
        transform: scaleX(120%);
        height: 3px;
    }

    .arrow__tip {
        border-right: 3px solid $secondary-text-color;
        border-bottom: 3px solid $secondary-text-color;
        width: 16px;
        height: 16px;
        top: -6px;
    }
}